.footer {
  display: inline;
  padding: 40px 20px;
  align-items: center;
  font-size: 0.8rem;
  color: $light-color-secondary;


  &__content {
    & > *:not(:last-child) {
      border-right: 1px solid;
      padding: 0 15px;

      @media #{$media-size-tablet} {
        border: none;
      }
    }
    
    @media #{$media-size-tablet} {
      text-align: center;
      margin-top: 1em;
    }

    & > *:last-child {
      padding: 0 15px;
    }
  }
}
