.header {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 20px;
  transition: top 0.2s ease-in-out;
  top:0;
  left:0;
  width: 100%;
  z-index: 999;
  
  .dark-theme & {
    background: #252627;
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media #{$media-size-phone} {
      flex-direction: row-reverse;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
  }
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
}

.theme-toggler {
  fill: currentColor;
}

.theme-search{
  display:flex;
  align-items:center;
  justify-content:center;
  line-height:1;
  margin-right:1em;
  margin-left:1em;
  cursor:pointer;
  @media #{$media-size-phone} {
    margin-right:0.5em;
  }
  @media #{$media-size-tablet} {
    margin-right:0.5em;
  }
}

.theme-searching{
  fill:currentColor
}

