.menu {
  background: #fafafa;
  border-right: 1px solid;
  margin-right: 18px;
  z-index: 9999;

  @media #{$media-size-tablet} {
    position: fixed;
    top: 66px;
    right: 0;
    border: none;
    margin: 0;
    padding: 20px;
    width: 70%;
    height: 100%;
  }

  .dark-theme & {
    background: #252627;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 1rem;
    list-style: none;

    li {
      margin: 0 12px;
    }

    @media #{$media-size-phone} {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;

      li {
        margin: 0;
        padding: 5px;
      }
    }
  }

  &-trigger {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-left: 10px;
    cursor: pointer;
  }

  a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;

    &:hover{
      text-decoration: underline; 
    }

    &:last-of-type {
      margin-right: 0;
    }
  } 

  .menu-hover:hover .sub-menu{
    display: block;
  }

  .sub-menu{
    position: absolute;
    margin-left: 0px;
    background-color: $light-background;
    min-width: 160px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    li{
      color: black;
      padding: 12px 16px;
      list-style-type: none;
      display: block;
      margin: 0;      
      a{
        display: flex;
        img {

          margin-left: 0;
          margin-right: .5em;
          width: 1.2em;
        }
      }
    }
    @media #{$media-size-tablet} {
      display: block;
      box-shadow: none;
      padding-left: 0;
    }
  }
  
}




