.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  &-tutorial{
    margin-left: 19%;
  }

  &-date {
    &:after {
      content: '—';
    }
  }

  &-title {
    font-size: 2.625rem;
    margin: 0 0 40px;

    @media #{$media-size-phone} {
      font-size: 2rem;
    }

    a {
      text-decoration: none;
    }
  }

  &-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: .5;

    a {
      text-decoration: none;
    }
  }

  &-content {
    margin-top: 30px;
    text-align: justify;
    text-justify: inter-word;
    a {
      color : #007db5 !important;
      text-decoration: none;
    }
    @media #{$media-size-phone} {
      text-align: left;
    }
  }

  &-cover {
    border-radius: 8px;
    margin: 40px -50px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    max-width: 600px;

    @media #{$media-size-tablet} {
      margin: 20px 0;
      width: 100%;
    }
  }

  &-info {
    margin-top: 30px;
    font-size: .8rem;
    line-height: normal;
    @include dimmed;

    p {
      margin: .8em 0;
    }

    a:hover {
      border-bottom: 1px solid white;
    }

    svg {
      margin-right: .8em;
    }

    .tag {
      margin-right: .5em;

      &::before {
        content: "#"
      }
    }

    .feather {
      display: inline-block;
      vertical-align: -.125em;
      width: 1em;
      height: 1em;
    }
  }

  &-author {
    text-align: center;

    img {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      width: 8%;
      height: 8%;
    }

    svg {
      margin-right: .8em;
    }

    .feather {
      display: inline-block;
      vertical-align: -.125em;
      width: 1em;
      height: 1em;
    }
  }

  &-share{
   margin-top: 5em;
   text-align: center;
  }

  @media #{$media-size-tablet} {
    max-width: 600px;
    margin-left:0;
  }

  @media #{$media-size-phone} {
    padding:0;
  }

  .flag {
    border-radius: 50%;
    margin: 0 5px;
  }

  #toc_container{
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size:  100%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
    // text-align: left;

    .dark-theme & {
      background: $dark-background-secondary;
    }

    .toc_title{
      font-weight: 700;
      text-align: center;
    }

    // li, ul{
    //   list-style: outside none none;
    // }

    li{
      font-weight: 700;
    }

    li ul{
      list-style-type: katakana !important;
    }

    li ul li{
      font-weight: 500;
      color : #007db5 !important;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

}

.disqus-placeholder.is-hidden { display: none; }

.comments{
  margin-top: 20px;
  background-color: #f8f9fa!important;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.pagination {
  margin-top: 20px;
  display: block;
  text-align: center;

  &__title {
    display: block;
    text-align: center;
    position: relative;
    margin: 30px 0 20px;

    &-h {
      text-align: center;
      margin: 0 auto;
      padding: 5px 10px;
      background: $light-background;
      color: $light-color-secondary;
      font-size: .8rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: .1em;
      z-index: 1;

      .dark-theme & {
        background: $dark-background;
        color: $dark-color-secondary;
      }
    }

    hr {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 15px;
      z-index: 0;
    }
  }

  &__buttons {
    display: block;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $light-background-secondary;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  max-width: 40%;
  padding: 0;
  cursor: pointer;
  appearance: none;

  .dark-theme & {
    background: $dark-background-secondary;
  }

  + .button {
    margin-left: 10px;
  }

  a {
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.next .button__icon {
    margin-left: 8px;
  }

  &.previous .button__icon {
    margin-right: 8px;
  }
  
  @media #{$media-size-tablet} {
    max-width: 100px;
  }
  
}

.sidenav {
  width: 19%;
  position: fixed;
  height: 100%;
  z-index: 0;
  top: 0px;
  left: 0px;
  background: #fcfcfc;
  overflow-x: hidden;
  padding: 96px 0;
  padding-left: 2em;
  
  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 0.8em;
    display: block;
  }
  
  h4{
    margin-bottom: 20px;  
  }
  
  a:hover {
    color: #376b96!important;
  }
  
  .active {
    color: #2e2e2e!important;
    font-weight: 700;
    border-left: 0.3em solid #2e2e2e!important; 

    .dark-theme & {
      color: #c0c0c0!important;
      border-left: 0.3em solid #c0c0c0!important; 
    }

  }
  
  .dark-theme & {
    background: #1e1f21;
    color: $dark-color !important;
      
  }
  
  @media #{$media-size-tablet} {
    display: relative;
    position: relative;
    width: 100%;
    padding: 5px;
  }

}

.related-side{
  width: 15%;
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 13%;
  right: 10px;

  ul{
    margin: 0;
    li{
      margin-bottom: 1em;
      font-size: 0.75em;
      list-style-type: square;
      
    }
  }

  @media #{$media-size-tablet} {
    display: relative;
    position: relative;
    width: 100%;
  }

  @media #{$media-size-phone} {
    padding:0;
  } 
}

/* Ads Section */

.ads-below{
  text-align: center;
  font-size: 16px;
}
.adsense {
  position: relative;
}
.adsense__loading {
  width: 100%;
  height: 100%;
  background-color: rgba( 255, 255, 255, .9 );
  display: table; /* for vertical centering */
  position: absolute;
  top: 0;
  left: 0;
}
.adsense--loaded .adsense__loading { display: none; }
.adsense__loading span {
    text-align: center;
    color:#000;
    vertical-align: middle; /* for vertical centering */
    display: table-cell; /* for vertical centering */
}
