{{ define "main" }}
    <div class="container">
    <h1>{{ .Title }}</h1>    
        {{- if .Content }}
                <div class="content">{{ .Description }}</div>
        {{- end }}
    </div>
    <main class="posts">
        
        {{ $scratch := newScratch }}
        {{ $scratch.Set "series" "xxx" }}
        {{ range sort .Data.Pages "Params.series" }}
            {{ if eq ($scratch.Get "series") .Params.series }}

            {{ else }}
                {{ $scratch.Set "series" .Params.series }}
                <div class="posts-group">
                    <div class="post-year">{{ $scratch.Get "series" }}</div>
                    <ul class="posts-list">        
                    {{ range sort (where $.Data.Pages "Params.series" ($scratch.Get "series")) "Params.date" "asc"}} 
                        {{ if .Params.status }}
                            {{ if eq .Params.status "publish" }}
                        <li class="post-item">
                            <a href="{{.Permalink}}">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">{{ if .Site.Params.dateformShort }}{{ .Date.Format .Site.Params.dateformShort }}{{ else }}{{ .Date.Format "Jan 2"}}{{ end }}</span>
                            </a>
                        </li>
                            {{ end }}
                        {{ else }}
                        <li class="post-item">
                            <a href="{{.Permalink}}">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">{{ if .Site.Params.dateformShort }}{{ .Date.Format .Site.Params.dateformShort }}{{ else }}{{ .Date.Format "Jan 2"}}{{ end }}</span>
                            </a>
                        </li>
                        {{ end }}
                    {{ end }}
                    </ul>
                </div>
             {{ end }}
        {{ end}}
    </main>
{{ end }}
