
<div class="box-post">
    <div class="row">
        <div class="col-md-4 col-md-12 text-center category">
            <div class="posts-menu">
                <p class="subtitle fancy"><span><i>"Wawasan"</i></span></p>
            </div>
            {{ range first 5 (.Site.Taxonomies.tags.wawasan.Pages) }}
            <div class="row">
                <div class="col-6-lg category-post">
                    <img class="img-thumb lazy" src="/img/no-image.png" data-src="{{ .Params.cover }}" > 
                    <a href="{{ .Permalink }}" alt="{{ .Title }}" class="title-thumb">{{ .Title }}</a>
                </div>
            </div>
            {{- end }}
            <div class="category-more">
                <a href="/tags/wawasan" alt="Lebih Banyak">Lebih Banyak »</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 text-center category">
            <div class="posts-menu">
                <p class="subtitle fancy"><span><i>"Opini"</i></span></p>
            </div>
            {{ range first 5 (.Site.Taxonomies.tags.opini.Pages) }}
            <div class="row">
                <div class="col-6-lg category-post">
                    <img class="img-thumb lazy" src="/img/no-image.png" data-src="{{ .Params.cover }}" > 
                    <a href="{{ .Permalink }}" alt="{{ .Title }}" class="title-thumb">{{ .Title }}</a>
                </div>
            </div>
            {{- end }}
            <div class="category-more">
                <a href="/tags/opini" alt="Lebih Banyak">Lebih Banyak »</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 text-center category">
            <div class="posts-menu">
                <p class="subtitle fancy"><span><i>"Serapan"</i></span></p>
            </div>
            {{ range first 5 (.Site.Taxonomies.tags.serapan.Pages) }}
            <div class="row">
                <div class="col-6-lg category-post">
                    <img class="img-thumb lazy" src="/img/no-image.png" data-src="{{ .Params.cover }}" > 
                    <a href="{{ .Permalink }}" alt="{{ .Title }}" class="title-thumb">{{ .Title }}</a>
                </div>
            </div>
            {{- end }}
            <div class="category-more">
                <a href="/tags/serapan" alt="Lebih Banyak">Lebih Banyak »</a>
            </div>
        </div>
    </div>
    <div class="row">
          <div class="col-md-4 col-md-12 text-center category">
            <div class="posts-menu">
                <p class="subtitle fancy"><span><i>"Internet"</i></span></p>
            </div>
            {{ range first 5 (.Site.Taxonomies.tags.internet.Pages) }}
            <div class="row">
                <div class="col-6-lg category-post">
                    <img class="img-thumb lazy" src="/img/no-image.png" data-src="{{ .Params.cover }}" > 
                    <a href="{{ .Permalink }}" alt="{{ .Title }}" class="title-thumb">{{ .Title }}</a>
                </div>
            </div>
            {{- end }}
            <div class="category-more">
                <a href="/tags/internet" alt="Lebih Banyak">Lebih Banyak »</a>
            </div>
        </div>
    </div>
</div>
