{{ $menu := resources.Get "js/menu.js" }}
{{ $lazydisqus := resources.Get "js/lazyDisqus.js" }}
{{ $lazyads := resources.Get "js/lazyAds.js" }}
{{ $lazyimg := resources.Get "js/lazyImage.js" }}
{{ $theme := resources.Get "js/theme.js" }}
{{ $search := resources.Get "js/search.js" }}
{{ $autoText := resources.Get "js/autoText.js" }}
{{ $scroll := resources.Get "js/scroll.js" }}

{{ $secureJS := slice $menu $theme $scroll $autoText $search $lazydisqus $lazyads $lazyimg | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}

<script src=//code.jquery.com/jquery-3.5.1.min.js integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
<script src=//instant.page/5.1.0 type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
<script src=//cdn.jsdelivr.net/npm/lunr@2.3.8/lunr.min.js integrity="sha384-vRQ9bDyE0Wnu+lMfm57BlYLO0/XauFuKpVsZPs7KEDwYKktWi5+Kz3MP8++DFlRY" crossorigin="anonymous"></script>
<script src=//cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.0/dist/lazyload.min.js integrity="sha384-ZrJga8P3ouosoSMGmLGRIij6vLRqGVXn9Y8Lypv9itSaoHHxb5YG6NsP9nP+F0nZ" crossorigin="anonymous"></script>

<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}" crossorigin="anonymous"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v10.0" nonce="ghawHMPp"></script>
<!-- PWA Section -->
<script>
if ('serviceWorker' in navigator) {
    navigator.serviceWorker
        .register('/sw.js', { scope: '/' })
        .then(() => {
            console.info('AnbiDev Service Worker Registered');
        }, err => console.error("AnbiDev Service Worker registration failed: ", err));

    navigator.serviceWorker
        .ready
        .then(() => {
            console.info('AnbiDev Service Worker Ready');
        });
}
</script>

{{- if .Site.GoogleAnalytics }}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{.Site.GoogleAnalytics}}', 'auto');
        ga('send', 'pageview');
    </script>
{{- end}}

{{ range $val := $.Site.Params.customJS }}
	{{ if gt (len $val) 0 }}
		<script src="/{{ $val }}"></script>
	{{ end }}
{{ end }}
