
<div class="posts" id="release">
    <div class="posts-menu" style="margin-top: 3em;">
        <p class="subtitle fancy"><span><i>"Rilisan Terbaru"</i></span></p>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
                {{ range first 3 (where .Site.Pages "Section" "tutorials") }}   
                    {{ if eq .Params.status "publish"  }}  
                    <a href="{{.Permalink}}">        
                        <div class="row release">
                                {{ with .Params.cover }}
                                <div class="col-md-6 col-sm-6 release-img">    
                                    <img alt="{{ . }}" src="{{ . }}" class="post-cover" />
                                </div>
                                {{ else }}
                                <div class="col-md-6 col-sm-6 release-img">
                                    <img alt="Tolong Temukan Si Gambar :(" src="/img/no-image.png">
                                </div>    
                                {{ end }}
                                <div class="col-md-6 col-sm-6 release-info">
                                    <h5 class="release-title">{{.Title}}</h5>
                                    <p class="release-day"><b>||</b> <i>{{ if .Site.Params.dateformShort }}{{ .Date.Format .Site.Params.dateformShort }}{{ else }}{{ .Date.Format "Jan 2"}}{{ end }}</i></p>
                                    <p>{{ .Params.Description }}</p>
                                </div>
                        </div>
                    </a>
                    <hr>
                    {{- end}}
                {{- end }}
        </div>

        <div class="col-md-6 col-sm-12">
            {{ range first 3 (where .Site.Pages "Section" "blogs") }}   
                {{ if eq .Params.status "publish"  }}  
                <a href="{{.Permalink}}">        
                    <div class="row release">
                            {{ with .Params.cover }}
                            <div class="col-md-6 col-sm-6 release-img">    
                                <img alt="{{ . }}" src="{{ . }}" class="post-cover" />
                            </div>
                            {{ else }}
                            <div class="col-md-6 col-sm-6 release-img">
                                <img alt="Tolong Temukan Si Gambar :(" src="/img/no-image.png">
                            </div>    
                            {{ end }}
                            <div class="col-md-6 col-sm-6 release-info">
                                <h5 class="release-title">{{.Title}}</h5>
                                <p class="release-day"><b>||</b> <i>{{ if .Site.Params.dateformShort }}{{ .Date.Format .Site.Params.dateformShort }}{{ else }}{{ .Date.Format "Jan 2"}}{{ end }}</i></p>
                                <p>{{ .Params.Description }}</p>
                            </div>
                    </div>
                </a>
                <hr>
                {{- end}}
            {{- end }}
        </div>
    </div>
    

</div>