<template id="search-result" hidden>
    <div class="col-md-12 col-sm-12">
        <article class="content post">
            <a class="summary-title-link">        
                <div class="row release">
                    <div class="col-md-5 col-sm-5 result-search-img text-center">    
                        <img class="post-cover summary-cover" src="" data-large="" alt="cover" loading="lazy"/> 
                    </div>
                    <div class="col-md-7 col-sm-7 result-search-info">
                        <h3 class="result-search-title"></h3>
                        <summary class="result-search-summary summary"></summary>
                        <br>
                        <div class="read-more-container">
                            <a class="read-more-link">Read More »</a>
                        </div>
                    </div>
                </div>
            </a>
            <hr>
        </article>
    </div>
</template>
