{{ define "main" }}
    <div class="container">
        <div class="row">
        {{- if .Content }}
            <div class="content">{{ .Content }}</div>
        {{- end }}

        <div class="posts-menu" style="margin-top: 3em;">
            <p class="subtitle fancy"><span><i>"fakta dan opini"</i></span></p>
        </div>
        {{ $paginator := .Paginate (where .Pages "Params.status" "publish") 8 }}
        {{ range $paginator.Pages  }}
            <div  class="col-lg-6 col-md-6 col-sm-12">
                <article class="content post">
                    <div class="row  release">
                        <a class="link" href="{{.Permalink}}">        
                            <div class="col-md-5 col-sm-5 release-img text-center">    
                                {{ with .Params.cover }}
                                    <img class="blurry-load post-cover" src="/img/no-image.png" data-large="{{ . }}" alt="cover" loading="lazy"/> 
                                {{ else }}
                                    <img  class="blurry-load post-cover"  alt="Tolong Temukan Si Gambar :(" src="/img/no-image.png" loading="lazy">
                                {{ end }}
                            </div>
                            <div class="col-md-7 col-sm-7 result-search-info">
                                <h4 class="release-title">{{.Title}}</h4>
                                <summary class="result-search-summary summary">{{ (.Plain | safeHTML | truncate 150) }}</summary>
                                <br>
                            </div>
                        </a>
                        <div class="col-md-12 col-sm-12 tag-list">
                            {{ with .Params.tags }}
                                {{ range . }}
                                    <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}"> <code>{{ . }}</code> </a>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                     <hr>
                </article>
            </div>
        {{ end }}
        </div>
        {{ partial "pagination.html" . }}
    </div>
{{ end }}
