{{ define "main" }}
    <div class="container">
        <div class="posts-menu" style="margin-top: 2.5em;">
            <p class="subtitle fancy"><span><i>"fakta dan opini"</i></span></p>
        </div>
        {{- if .Content }}
            {{ .Content }}
        {{- end }}      
        <div class="grid-container">
        {{ $paginator := .Paginate (where .Pages "Params.status" "publish") 8 }}
        {{ range $paginator.Pages  }}
                <div>
                <article class="post">
                    <div class="row  release">
                        <a class="link" href="{{.Permalink}}">        
                            <div class="col-md-5 col-sm-5 release-img text-center">    
                                {{ with .Params.cover }}
                                    <img class="lazy post-cover" src="/img/no-image.png" data-src="{{ . }}" alt="cover" loading="lazy"/> 
                                {{ else }}
                                    <img  class="lazy post-cover"  alt="Tolong Temukan Si Gambar :(" src="/img/no-image.png" loading="lazy">
                                {{ end }}
                            </div>
                            <div class="col-md-7 col-sm-7 result-search-info">
                                <h4 class="release-title">{{.Title}}</h4>
                                <summary class="result-search-summary summary">{{ (.Plain | safeHTML | truncate 150) }}</summary>
                                <br>
                            </div>
                        </a>
                        <div class="col-md-12 col-sm-12 tag-list">
                            {{ with .Params.tags }}
                                {{ range . }}
                                    <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}"> <code>{{ . }}</code> </a>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </article>
            </div>
        {{ end }}
        </div>
        {{ partial "pagination.html" . }}
    </div>
{{ end }}
