{{ define "main" }}
    <main aria-roledescription="main">
        <div>
            <div class="text-center">
                <img alt="Atas Nama Bangsa Indonesia" class="img-logo img-fluid" src="/img/logo.png">
            </div>
            <h1 class="title">{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}
            {{- with .Site.Params.homeQuotes }}
                <p class="border-left"><i>{{.}}</i></p>
            {{- end }}
            
            {{- with .Site.Params.social }}
                <div class="social-media">
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}  

           <div id="container">
                <a href="/tutorials">
                <button class="button-index learn-more">
                        <div class="circle">
                        <span class="icon arrow"></span>
                        </div>
                        <p class="button-text">Learn Here</p>
                    </button>
                </a>
            </div>  
            <div id="container">
                <div class="theme-arrow bounce-7">{{- partial "theme-arrow.html" . }}</div>
            </div>
        </div>
        {{ partial "release.html" . }}
    </main>
{{ end }}


