{{ define "main" }}
<div class="content">
    <main aria-roledescription="main">
        <div class="container">
            <div class="text-center">
                {{ partial "icon-anbi.html" . }}
            </div>
            
            <h1 class="title">{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <p class="subtitle">{{.}}</p>
            {{- end }}
            {{- with .Site.Params.homeQuotes }}
                <p class="subtitle"><i>{{.}}</i></p>
            {{- end }}
            
            {{- with .Site.Params.social }}
                <div class="social-media">
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}  

           <div id="container">
                <a href="/tutorials">
                <button class="button-index learn-more">
                        <div class="circle">
                        <span class="icon arrow"></span>
                        </div>
                        <p class="button-text">Belajar Sini!</p>
                    </button>
                </a>
            </div>  
        </div>
    </main>
    <div class="posts-menu" style="margin-top: 3em;">
        <p class="subtitle fancy"><span><i>"Rilisan Terbaru"</i></span></p>
    </div>
    <div class="extended-index">
        {{ partial "release.html" . }}
    </div>
    <div class="posts-menu" style="margin-top: 3em;">
        <p class="subtitle fancy"><span><i>"Atau Lainnya?"</i></span></p>
    </div>
    <div class="extended-index">
        {{ partial "category-post.html" . }}
    </div>
</div>
{{ end }}


